<%= form_for :submission, url: submissions_path, class: "form-horizontal" do |f| %>
  <% @chart.items.each do |item| %>
    <div class="form-group">
      <%= f.check_box item.name %>
      <%= f.label item.name %>
    </div>
  <% end %>

  <div class="form-group"><%= f.submit "Submit", class: "btn btn-submit" %></div>
<% end %>
