<% if @dashboard.submission_pending? %>
  <%= link_to "Submit today's chart", new_submission_path %>
<% end %>
<table class="table table-bordered">
  <tr>
    <th>Date</th>
    <th>Score</th>
    <th>Percent</th>
  </tr>
  <% @dashboard.scorables.each do |scorable| %>
    <tr>
      <td><%= scorable.date %></td>
      <td><%= scorable.score %></td>
      <td><%= number_to_percentage(scorable.percent, precision: 2) %></td>
    </tr>
  <% end %>
</table>
